> git clone https://github.com/mpantano/masters-thesis-mpantano.git #clones the github repository
> cd masters-thesis-mpantano
> python -m venv env-michael #create a python virtual environment
> source env-michael/bin/activate #activates the python virtual environment
> pip install --upgrade pip #updates the pip version to the latest version.
# everything below here are the required packages to run the code (i.e. everything that should be included in the requirements.txt file)

> pip install torch
> pip install numpy
> pip install matplotlib
> pip install pandas
> pip install scipy
> pip install ipython #optional, if you want to run the notebooks from the command line.
> pip install ipykernel #required if interacting with Jupyter Notebooks directly

# if you are more familiar with conda, conda may be used instead to ensure all of these Python libraries are in your virtual environment
# The following versions work with the state of the code: python v3.7, torch v2.6.0, pandas v2.2.3, matplotlib v3.9.4, numpy v2.0.2, scipy v1.13.1  